body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  margin: 10px;
  padding: 10px;
  color: #fb4cd6;
  font-size: x-large;
  font-family: "Inconsolata", sans-serif;
  border: 3px solid;
  background-color: transparent;
  border-color: #fb4cd6;
}

